<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  	<display-name>Template Spring Best Practices</display-name>
	<!-- http://gordondickens.com/wordpress/2012/07/30/enterprise-spring-framework-best-practices-part-3-xml-config/ -->
    <description>Enterprise Spring Best Practices Application</description>  

    <!-- Creates the Spring Container, "root" context, shared by all Servlets and Filters -->
	<!-- Customize the file name and location for "root" context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- This bootstrap file should use the <import resource=""/> to include other config files -->
        <param-value>classpath*:META-INF/spring/applicationContext-bootstrap.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Enable escaping of form submission contents -->
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Filter that binds a JPA EntityManager to the thread for the entire processing of the request -->
    <filter>
        <filter-name>OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
            
    <!-- Servlet that dispatches request to registered handlers (Controller implementations). -->
    <!-- DispatcherServlet then loads the servlet configuration into a separate context, with the root context as its parent.
         This means that the settings in the servlet context can refer to, and even override, the settings in the root context. -->            
	<servlet>
	    <servlet-name>springapp</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/spring/webmvc-config.xml</param-value>
	    </init-param>    
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
 	<!-- Processes all application requests -->
	<servlet-mapping>
	    <servlet-name>springapp</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
  	
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/uncaughtException</location>
    </error-page>

	<!-- Disables Servlet Container welcome file handling. Needed for compatibility with Servlet 3.0 and Tomcat 7.0 -->
    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>
</web-app>
